<!DOCTYPE html>
<html>
<head>
  <title>CleanWork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-primary bg-primary">
  <%#= link_to 'Bookings', bookings_path %>
  <%#= link_to 'Customers', customers_path %>

  <h3>
    <center>
      <%= link_to 'Clean Work', "#", class: "text-white bg-primary" %>
    </center>
  </h3>
<%#= link_to 'Cleaners', cleaners_path %>
</nav>


<%= yield %>

</body>
</html>
